# Generic

*.pyc
*~
Makefile
Makefile.in
*.deps
*.libs
*.la
*.o
*.lo
*.loT
.*.sw?
*.service
stamp-*

# Absolute

aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
compile
install-sh
missing
py-compile
dbus-installed.conf
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
mkinstalldirs
po/Makefile.in.in
po/POTFILES
po/*.gmo
po/.intltool-merge-cache
sugar/__installed__.py
tools/sugar-setup-activity
threadframe
config.guess
config.sub
depcomp
libtool
ltmain.sh
m4/intltool.m4
sugar/browser/_sugarbrowser.c
browser/sugar-marshal.c
browser/sugar-marshal.h
bin/sugar
shell/extensions/_extensions.c
data/sugar.gtkrc
data/sugar.xml
data/sugar-xo.gtkrc
data/sugar-emulator.desktop
data/org.sugar.brightness.policy
data/org.sugar.serial-number.policy
