# Generic

*.pyc
*~
Makefile
Makefile.in
*.deps
*.libs
*.la
*.lo
*.loT

# Absolute

aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
compile
install-sh
missing
py-compile
stamp-h1
dbus-installed.conf
dbus-installed-094.conf
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
mkinstalldirs
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/sugar.pot
po/*.gmo
sugar/__installed__.py
tools/sugar-setup-activity
services/presence/org.laptop.Presence.service
threadframe
config.guess
config.sub
depcomp
libtool
ltmain.sh
m4/intltool.m4
lib/python/_sugar.c
lib/src/sugar-marshal.c
lib/src/sugar-marshal.h
lib/src/stamp-sugar-marshal.c
lib/src/stamp-sugar-marshal.h
