# Generic

*.pyc
*~
Makefile
Makefile.in

# Absolute

aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
install-sh
missing
py-compile
stamp-h1

intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
mkinstalldirs
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/sugar.pot
po/*.gmo

sugar/__installed__.py
