Source: sugar
Section: x11
Priority: optional
Maintainer: Debian OLPC <debian-olpc-devel@lists.alioth.debian.org>
Uploaders: Jonas Smedegaard <dr@jones.dk>
Build-Depends: cdbs (>= 0.4.39), autotools-dev, devscripts (>= 2.10.7), quilt, patchutils (>= 0.2.25), python-dev (>= 2.3.5-11), python-central (>= 0.5.6), debhelper (>= 5.0.44), dh-buildinfo, libglib2.0-dev, python-gtk2-dev, gettext, intltool, shared-mime-info, python-empy
Standards-Version: 3.7.3
Vcs-Git: git://git.debian.org/git/collab-maint/sugar.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/sugar.git;a=summary
Homepage: http://wiki.laptop.org/go/Sugar
XS-Python-Version: all

Package: sugar
Architecture: all
Depends: ${shlibs:Depends}, ${python:Depends}, python-gst0.10 (>= 0.10.6.1), python-hippocanvas, python-gobject, python-gtk2, python-cairo, python-dbus, python-telepathy, python-numpy, python-gnome2-desktop, librsvg2-common, python-simplejson, python-sugar, python-sugar-toolkit (>= 0.79.3), matchbox-window-manager, dbus-x11, telepathy-gabble, telepathy-salut, telepathy-stream-engine
Recommends: sugar-artwork (>= 0.79.2) | sugar-artwork, network-manager, net-tools, gstreamer0.10-plugins-good, xserver-xephyr, x11-xserver-utils | xrandr | xbase-clients
Suggests: openssh-client
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Sugar graphical shell - core functionality
 Sugar is a graphical user interface aimed at children.
 .
 Sugar is mainly used as the interface for One Laptop Per Child (OLPC)
 XO machines.
 .
 This package contains the base modules for Sugar.
